li {
	cursor: pointer;
	padding: 12px 8px 12px 40px;
	list-style-type: none;
	background: #eee;
	font-size: 14px;
	transition: 0.2s;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	justify-content: space-between;
}

/* Set all odd list items to a different color (zebra-stripes) */
li:nth-child(odd) {
	background: #b2bec3;
}

/* Darker background-color on hover */
li:hover {
	background: rgb(109, 103, 103);
}

/* Style the trash button */
.trashIcon {
	font-size: 30px;
}

.trashIcon:hover {
	background-color: tomato;
	color: white;
}
